@-webkit-keyframes working
{
  from {-webkit-filter : opacity(0);}
  to {-webkit-filter : opacity(1);}
}

:host-context([status="working"]){
  -webkit-animation: working 1s infinite;
}

:host-context([status="canceled"]){
  background-color: rgba(0,0,0,0.5);
}

:host-context([status="enqueued"]){
  background-color: rgba(0,0,255,0.1);
}

:host-context([status="finished"]){
  background-color: rgba(0,255,0,0.1);
}

:host {
  display: block;
}
